* {
    box-sizing: border-box;
}
 
body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #afe9b7;
    padding-bottom: 60px;
}
 
.titulo {
    text-align: center;
    font-weight: 300;
    font-size: 60px;
    color: #cc7f7f
}
 
.topico {
    text-align: center;
    color:#67aa83;;
    font-size: 40px;
    font-style: italic;
}
 
.principal {
    background-color: #ffffff;
    max-width: 60%;
    margin: 0 auto 30px auto;
    padding: 10px 0;
    border-radius: 20px;
}
 
.principal ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
 
.principal a {
    color: #67aa83;
    text-decoration: underline;
    font-weight: normal;
    font-size: larger;
}
 
section {
    padding: 30px;
}
 
.conteudo {
    display: flex;
    align-items: center;
    gap: 10px;
}
 
.conteudo img {
    width: 20%;
    border-radius: 50%;
    object-fit: cover;
}
 
.conteudo p {
    width: 60%;
}
 
p {
    font-size: 20px;
    line-height: 1.5;
    color: rgb(29, 71, 35);
    margin: 20px;
}

.conteudo2 {
    display: flex;
    align-items: center; /* alinha verticalmente */
    gap: 20px; /* espaço entre imagem e texto */
}

.conteudo2 img {
    width: 20%; /* ajuste o tamanho da imagem/ */
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}
 
.topo {
    text-align: center;
    margin-top: 30px;
}
 
.topo a {
    color: white;
    background-color: #cc7f7f;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 700;
}

.noMiniBank {
    text-align: center;
    color: #2f4739;
}

header {
  background-color: rgb(255, 255, 255);
  padding: 0;
  text-align: center;
  width: 100%;
  margin: 0; /* centraliza */
}

.faixa-topo h1 {
  margin: 0;
}

.faixa-topo p {
  margin: 10px 0 0 0;
}

.logo-titulo {
    display: flex;
    align-items: center;
    
}



.titulo {
  display: inline-block;
  align-items: center; /* alinha verticalmente */
  justify-content: center; /* centraliza na tela */
  gap: 10px; /* espaço entre imagem e texto */
}

.logo {
  width: 70px; /* ajusta o tamanho */
  height: auto;

}